In [1]:
import json
from shapely.geometry import Polygon

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import pickle
from shapely.geometry import shape, Point
import rasterio.features
from osgeo import gdal, osr
from shapely.wkt import loads

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Open and read the JSON file
with open('/Users/rahnumatarannum/bk_defenders_surveillance_capstone/Outputs/KDE_sampling.json', 'r') as f:
    data = json.load(f)

print(type(data),len(data))

<class 'list'> 3

In [5]:
features = []
for item in data[2]:
    geometry = shape(item['geojson'])
    properties = item['results']
    features.append({"geometry": geometry, "properties": properties})

nta_surv = gpd.GeoDataFrame.from_features(features)
nta_surv.head()

,geometry,boro_code,boro_name,county_fip,ntacode,ntaname,shape_area,shape_leng,avg_value,std_dev_value,sample_size,avg_value_scaled,std_dev_scaled
0,"POLYGON ((586207.563 4501643.060, 586204.695 4...",3.0,Brooklyn,047,BK40,Windsor Terrace,1.404167e+07,19033.672066,1.448168e-09,4.911048e-09,1000,0.002737,5.734309
1,"MULTIPOLYGON (((593990.695 4500133.738, 593989...",3.0,Brooklyn,047,BK50,Canarsie,8.208968e+07,43703.609666,1.281708e-09,3.158630e-09,1000,-0.272779,2.833801
2,"POLYGON ((587073.122 4505530.649, 587074.580 4...",3.0,Brooklyn,047,BK68,Fort Greene,1.648282e+07,19825.520859,1.760309e-09,2.488851e-09,1000,0.519377,1.725220
3,"POLYGON ((592689.215 4503673.539, 592744.085 4...",3.0,Brooklyn,047,BK79,Ocean Hill,2.008991e+07,22494.581245,1.693840e-09,3.410619e-09,1000,0.409361,3.250880
4,"POLYGON ((589882.064 4495847.157, 589818.490 4...",3.0,Brooklyn,047,BK44,Madison,2.737916e+07,26237.257649,1.875211e-09,4.399424e-09,1000,0.709556,4.887497

In [8]:
filepath = "/Users/rahnumatarannum/bk_defenders_surveillance_capstone/Outputs"
nta_surv.to_file(f"{filepath}/kde_final_output.shp", driver='ESRI Shapefile')

In [4]:
# Read the shapefile
gdf = gpd.read_file("/Users/rahnumatarannum/bk_defenders_surveillance_capstone/Data/nta_surv_metric_TEST_FOR_NUMA/nta_surv_metric_TEST_FOR_NUMA.shp")

print(gdf)

,ntacode,ntaname,NTA Area,Total Came,Cumulative,Cumulati_1,block_area,Non-Buildi,Proportion,Proporti_1,geometry
0,BK09,Brooklyn Heights-Cobble Hill,0.927658,17,0.624630,0.7586806781565012,0.490985,0.436673,1.430431,1.737413,"POLYGON ((-73.99236 40.68969, -73.99436 40.690..."
1,BK17,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,5.886002,211,8.890286,10.9971835071635,2.985185,2.900818,3.064752,3.791064,"POLYGON ((-73.91809 40.58657, -73.91813 40.586..."
2,BK19,Brighton Beach,1.596136,56,1.645851,2.843460649907898,0.821611,0.774526,2.124980,3.671228,"POLYGON ((-73.96035 40.58731, -73.96032 40.586..."
3,BK21,Seagate-Coney Island,3.601191,92,4.205643,7.187607953034661,0.995168,2.606023,1.613816,2.758075,"POLYGON ((-73.97459 40.58314, -73.97459 40.583..."
4,BK23,West Brighton,0.811876,1,0.097006,0.09700634172315188,0.173834,0.638042,0.152037,0.152037,"POLYGON ((-73.96889 40.57526, -73.96895 40.575..."